<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do list</title>
</head>
<body>
    <h1>Add Task</h1>
    
    <form action="/addTask" method="POST">
        <label for="">Task Name</label>
        <input type="text" name="taskTitle" />
        <label for="">Description</label>
        <input type="text" name="taskDescription" value="" value=""/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>